<button type="button" class="toggle-btn" (click)="sideShown = true">Filters</button>
<div class="filters" [class.side-shown]="sideShown">
  <button type="button" class="close-side-btn" (click)="sideShown = false">x</button>
  <h5>Filter by categories</h5>
  <form *ngIf = "showFilters">
    <div class="category-filter filter-wrapper" *ngFor = 'let filter of categories'>
      <label class="fake-checkbox">
        <input type="checkbox" checked (change)='onInputChange($event, filter, "category")'>
        <span class="square"><span class="fill"></span></span>
        <span class="label">{{filter.name}}</span>
        <span></span>
      </label>
    </div>
  </form>
  <h5>Filter by price</h5>
  <form *ngIf = "showFilters">
    <div class="custom-filter filter-wrapper" *ngFor = 'let filter of priceFilters'>
        <label class="fake-checkbox">
          <input type="radio" name="price" [checked]='filter.checked' (click)='onInputChange($event, filter, "price")'>
          <span class="circle"><span class="fill"></span></span>
          <span class="label">{{filter.name}}</span>
          <span></span>
        </label>
    </div>
  </form>
  <h5>Custom filters</h5>
  <form *ngIf = "showFilters">
    <div class="custom-filter filter-wrapper" *ngFor = 'let filter of customFilters'>
        <label class="fake-checkbox">
          <input type="radio" name="custom" [checked]='filter.checked' (click)='onInputChange($event, filter, "custom")'>
          <span class="circle"><span class="fill"></span></span>
          <span class="label">{{filter.name}}</span>
          <span></span>
        </label>
    </div>
  </form>
</div>
